
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    <h2>
        Welcome to Math
    </h2>

    <div>
        <ul>
            <li>Algebra</li>
            <li>Trigonometry</li>
            <li>Pre-Calculus</li>
        </ul>
    </div>
</div>
